
div(data-role='page', data-add-back-btn="true")
	div(data-role='header')
		h1 About
	div(data-role='content')
		p ok!

script(src='/vendor/jquery-1.7.2.min.js')
script(src='/vendor/jquery.mobile-1.1.0.min.js')
script(src='/js/mobile.js')