
script
	var isps =!{JSON.stringify(data)}

body(style='background-color:white; overflow:hidden')
	#svg-cnt(style='margin:20px;')

script(src="http://d3js.org/d3.v2.js")
script(src='./js/IspDataVisuals.js')