
#map_cnt
	#map_canvas
#map_window

script(src='/vendor/jquery-1.7.2.min.js')
script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBmtAAD8JH92Xfq917W9Ejpg7qMPLDoyJU&sensor=true')
script(src='/vendor/infobox_packed.js')
script(src='/js/Map.js')
script(src='/js/LocationDetector.js')
script(src='/js/index.js')

include footer