#header
	#isp-dropdown.btn-group
		button#isp-dropdown-label.btn.btn-info
			button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
				span.caret
			ul.dropdown-menu

	button#btn-home.btn.btn-info
		i.icon-pencil.icon-white
	button#btn-info.btn.btn-info
		i.icon-info-sign.icon-white

#map_cnt
	#map_canvas
#map_window
	p#isp
	hr
	p#time

#modal-wel1.modal.hide
	.modal-header
		h3 Hello!
	.modal-body
		p x
	.modal-footer
		button#service-ok.btn.btn-success It's Great!
		button#no-service.btn.btn-danger It Sucks!
#modal-wel2.modal.hide
	.modal-header
		h3 Step 2 of 2
	.modal-body
		p#p1
		select
		p#p2 Or add them here if they're not on the list
	.modal-footer
		button#check-status.btn.btn-success Check Status
#modal-home.modal.hide
	.modal-header
		button.close(data-dismiss='modal') x
		h3 My Internet Provider & Status
	.modal-body
		h4 Internet Provider
		select#isp-select
		h4 Internet Status
		select#isp-status
			option Online
			option Offline
		h4 Show Search Results Within
		select#time-filter
			option Ten Minutes
			option One Hour
			option(selected='selected') One Day
			option All Time
	.modal-footer
		button(data-dismiss='modal').btn.btn-success OK
#modal-info.modal.hide
	.modal-header
		button.close(data-dismiss='modal') x
		h3 Is My Internet Online ?
	.modal-body
		p
			| You know how frustrating it is when your internet suddenly stops working 
			| and you have no idea why? Sadly <b>none</b> of the major US broadband providers 
			| offer an online status indicator to quickly let you know if they're experiencing an outage.<br><br>
			| Now you can, via your mobile, quickly check to see if others around you have also been bumped offline –
			| negating the need to contact your ISP yourself to find out what's going on.
		p(style='text-align:center;') <a href='http://twitter.com/braitsch'>made by braitsch</a>
	.modal-footer
		button(data-dismiss='modal').btn.btn-success OK

include footer

script
	var mobile =!{JSON.stringify(mobile)}
script(src='/vendor/js/jquery-1.7.2.min.js')
script(src='/vendor/js/bootstrap-modal.js')
script(src='/vendor/js/bootstrap-dropdown.js')
script(src='/vendor/js/moment.min.js')
script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBmtAAD8JH92Xfq917W9Ejpg7qMPLDoyJU&libraries=geometry&sensor=true')
script(src='/vendor/js/infobox_packed.js')
script(src='/js/GoogleMap.js')
script(src='/js/LocationDetector.js')
script(src='/js/ModalController.js')
script(src='/js/IspSystemStatus.js')
