#header
	#isp-dropdown.btn-group
		button#isp-dropdown-label.btn.btn-info
			button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
				span.caret
			ul.dropdown-menu

	button#btn-home.btn.btn-info
		i.icon-home.icon-white
	button#btn-info.btn.btn-info
		i.icon-info-sign.icon-white

#map_cnt
	#map_canvas
#map_window

#modal-wel1.modal.hide
	.modal-header
		h3 Hello!
	.modal-body
		p x
	.modal-footer
		button#service-ok.btn.btn-success It's Great!
		button#no-service.btn.btn-danger It Sucks!
#modal-wel2.modal.hide
	.modal-header
		h3 Step 2 of 2
	.modal-body
		p
		#isp-selector
	.modal-footer
		button#check-status.btn.btn-success.disabled Check Status
#modal-home.modal.hide
	.modal-header
		button.close(data-dismiss='modal') x
		h3 Home
	.modal-body
		p change status / isp settings
	.modal-footer
		button(data-dismiss='modal').btn.btn-success OK
#modal-info.modal.hide
	.modal-header
		button.close(data-dismiss='modal') x
		h3 Info
	.modal-body
		p about this project
	.modal-footer
		button(data-dismiss='modal').btn.btn-success OK

include footer

script
	var ipAddress =!{JSON.stringify(ip)}
script(src='/vendor/js/jquery-1.7.2.min.js')
script(src='/vendor/js/bootstrap-modal.js')
script(src='/vendor/js/bootstrap-dropdown.js')
script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBmtAAD8JH92Xfq917W9Ejpg7qMPLDoyJU&sensor=true')
script(src='/vendor/js/infobox_packed.js')
script(src='/js/GoogleMap.js')
script(src='/js/LocationDetector.js')
script(src='/js/ModalController.js')
script(src='/js/IspSystemStatus.js')
