doctype html
html
	head
		title= title
		meta(name="author", content="Stephen Braitsch")
		meta(name="keywords", content="Comcast system status, AT&T system status, Verizon system status")
		meta(name="description", content="Quickly find out if your area has lost service without the bother of calling your ISP or dealing with their online tech support.")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', href='/vendor/css/bootstrap.min.css')
		link(rel='stylesheet', href='/vendor/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/geoMarker.css')
	body
		block content
		block scripts