
#header
	#isp-dropdown.btn-group
		button#isp-dropdown-label.btn.btn-info
			button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
				span.caret
			ul.dropdown-menu

	button#btn-home.btn.btn-info
		i.icon-home.icon-white
	button#btn-info.btn.btn-info
		i.icon-info-sign.icon-white

#welcome1.modal.hide
	.modal-header
		h3 Hello!
	.modal-body
		p x
	.modal-footer
		button#service-ok.btn.btn-success It's Great!
		button#no-service.btn.btn-danger It Sucks!
#welcome2.modal.hide
	.modal-header
		h3 Step 2 of 2
	.modal-body
		p I'm sorry to hear you're having problems.<br>
			| Who is your Internet Service Provider?
		#isp-selector
	.modal-footer
		button#check-status.btn.btn-success Check Status

script(src='/vendor/js/jquery-1.7.2.min.js')
script(src='/vendor/js/bootstrap-modal.js')
script(src='/vendor/js/bootstrap-dropdown.js')
script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBmtAAD8JH92Xfq917W9Ejpg7qMPLDoyJU&sensor=true')
script(src='/js/LocationDetector.js')
script(src='/js/mobile.js')