
div(data-role='page')
	div(data-role='header')
		h1 Comcast System Status
	div(data-role='content')
		ul(data-role='listview', data-inset='true')
			li
				a(href='#') one
			li
				a(href='#') two
			li
				a(href='#') three
			li
				a(href='#') four
			li
				a(href='#') five

script(src='/vendor/jquery-1.7.2.min.js')
script(src='/vendor/jquery.mobile-1.1.0.min.js')
script(src='/js/mobile.js')