html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
}
#map_canvas {
  width: 100%;
  height: 100%;
}
#map_canvas img {
  max-width: none;
}
#footer {
  position: relative;
  height: 40px;
  margin-top: -40px;
  background-color: #ddd;
}
#credit {
  font-size: 0.9em;
  text-align: center;
  padding-top: 10px;
}
#nfnd {
  padding: 20px;
}
#map_window {
  width: 300px;
  height: 60px;
}
#map_window p {
  margin: 10px;
}
.map_window_yellow {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f3961c;
/* default background for browsers without gradient support */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background: -moz-linear-gradient(#f9d835, #f3961c);
  background: -o-linear-gradient(#f9d835, #f3961c);
  background: linear-gradient(#f9d835, #f3961c);
}
.map_window_yellow:after {
  content: "";
  position: absolute;
  bottom: -15px;
/* value = - border-top-width - border-bottom-width */
  left: 80px;
/* controls horizontal position */
  border-width: 15px 15px 0;
/* vary these values to change the angle of the vertex */
  border-style: solid;
/* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  border-color: #f3961c transparent;
}
.map_window_dark {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
}
.map_window_dark:after {
  content: "";
  position: absolute;
  bottom: -15px;
/* value = - border-top-width - border-bottom-width */
  left: 80px;
/* controls horizontal position */
  border-width: 15px 15px 0;
/* vary these values to change the angle of the vertex */
  border-style: solid;
/* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  border-color: #ccc transparent;
}
