
footer_height = 40px

html
	height  100%
body 
	height  100% 
	margin  20 
	padding  0
#map_canvas
	width 100%
	height 100%
#footer
	position relative
	height footer_height
	margin-top - footer_height
	background-color #ddd
#credit
	font-size .9em
	text-align center
	padding-top 10px
#nfnd
	padding 20px