
page_padding = 20px
footer_height = 40px
bkgd_color = #D7DADA

body
	background-color bkgd_color
body, html
	height  100% 
	margin 0
	padding 0
#map_cnt
	display block
	position absolute
	height auto
	top 0
	left 0
	right 0
	bottom 0
	border 1px solid white
	margin-top page_padding
	margin-right page_padding
	margin-left page_padding
	margin-bottom footer_height	
#map_canvas
	width 100%
	height 100%
#map_canvas img
	max-width none
#footer
	display block
	position absolute
	height footer_height
	left 0
	right 0	
	bottom 0
	margin-left 20px
	margin-right 20px
	width auto
	background-color bkgd_color
#credit
	font-size .9em
	text-align center
	padding-top 10px
#nfnd
	padding 20px
	
// marker overlay //
	
#map_window
	width 260px
	height 60px
#map_window p
	margin 10px
map_window_base()
	-webkit-border-radius 10px
	-moz-border-radius 10px
	border-radius 10px
map_window_triangle()
	content ""
	position absolute
	bottom -15px /* value = - border-top-width - border-bottom-width */
	left 80px /* controls horizontal position */
	border-width 15px 15px 0 /* vary these values to change the angle of the vertex */
	border-style solid
	/* reduce the damage in FF3.0 */
	display block 
	width 0
.map_window_yellow
	map_window_base()
	background #f3961c /* default background for browsers without gradient support */
	background -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c))
	background -moz-linear-gradient(#f9d835, #f3961c)
	background -o-linear-gradient(#f9d835, #f3961c)
	background linear-gradient(#f9d835, #f3961c)
.map_window_yellow:after
	map_window_triangle()
	border-color #f3961c transparent
.map_window_dark
	map_window_base()
	background #ccc
.map_window_dark:after
	map_window_triangle()
	border-color #ccc transparent

