
page_padding = 20px
footer_height = 40px
bkgd_color = #D7DADA

body
	background-color bkgd_color
body, html
	margin 0
	padding 0
	height 100%

// --- header --- //

#header
	width 100%
	height 40px
	display none
	background-color #333
#btn-home
	top 5px
	right 55px
	position absolute
#btn-info
	top 5px
	right 10px
	position absolute
#isp-dropdown
	top 5px
	left 10px
	position absolute
#isp-dropdown .dropdown-menu
	min-width 100px
#isp-dropdown-label
	min-width 76px

// --- the map --- //

#map_cnt
	display block
	position absolute
	height auto
	top 40px
	left 0
	right 0
	bottom 0
	border 1px solid white
	margin-top page_padding
	margin-right page_padding
	margin-left page_padding
	margin-bottom footer_height

#map_canvas
	width 100%
	height 100%
	background-color #333
#map_canvas img
	max-width none

// --- marker overlay --- //
	
#map_window
	width 260px
	height 60px
#map_window p
	margin 10px
map_window_base()
	-webkit-border-radius 10px
	-moz-border-radius 10px
	border-radius 10px
map_window_triangle()
	content ""
	position absolute
	bottom -15px /* value = - border-top-width - border-bottom-width */
	left 80px /* controls horizontal position */
	border-width 15px 15px 0 /* vary these values to change the angle of the vertex */
	border-style solid
	/* reduce the damage in FF3.0 */
	display block 
	width 0
.map_window_yellow
	map_window_base()
	background #f3961c /* default background for browsers without gradient support */
	background -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c))
	background -moz-linear-gradient(#f9d835, #f3961c)
	background -o-linear-gradient(#f9d835, #f3961c)
	background linear-gradient(#f9d835, #f3961c)
.map_window_yellow:after
	map_window_triangle()
	border-color #f3961c transparent
.map_window_dark
	map_window_base()
	background #ccc
.map_window_dark:after
	map_window_triangle()
	border-color #ccc transparent

// --- footer --- //

#footer
	display block
	position absolute
	left 0
	right 0	
	bottom 0
	margin-left 20px
	margin-right 20px
	width auto
	height footer_height
	background-color bkgd_color
#credit
	font-size .9em
	text-align center
	padding-top 10px

// --- modal windows --- //

.modal-body
	padding-bottom 0
	text-align center
.modal-body #isp-selector
	margin 10px auto
	width 100px
.modal-body button
	display block
	width 100px
	margin-bottom 14px

// --- responsive media queries --- //

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
	.modal
		width 300px
	#btn-info
		right 5px
	#btn-home
		right 45px
	#isp-dropdown
		left 5px
	#map_cnt
		margin-top 0
		margin-right 0
		margin-left 0
		margin-bottom 0
	#footer
		display none