body {
  background-color: #d7dada;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#header {
  width: 100%;
  height: 40px;
  display: none;
  background-color: #333;
}
#btn-home {
  top: 5px;
  right: 55px;
  position: absolute;
}
#btn-info {
  top: 5px;
  right: 10px;
  position: absolute;
}
#isp-dropdown {
  top: 5px;
  left: 10px;
  position: absolute;
}
#isp-dropdown .dropdown-menu {
  min-width: 100px;
}
#isp-dropdown-label {
  min-width: 76px;
}
#map_cnt {
  display: block;
  position: absolute;
  height: auto;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #fff;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}
#map_canvas {
  width: 100%;
  height: 100%;
  background-color: #333;
}
#map_canvas img {
  max-width: none;
}
#map_window {
  display: none;
  width: auto;
  margin: 12px 10px 12px 10px;
}
#map_window hr {
  margin: 4px 0 4px 0;
  height: 1px;
  line-height: 0;
  border-width: 0;
  background-color: #ccc;
}
#map_window p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  color: #808080;
  text-align: center;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.map_window_yellow {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888;
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  background: #f3961c;
/* default background for browsers without gradient support */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background: -moz-linear-gradient(#f9d835, #f3961c);
  background: -o-linear-gradient(#f9d835, #f3961c);
  background: linear-gradient(#f9d835, #f3961c);
}
.map_window_yellow:after {
  content: "";
  position: absolute;
  bottom: -15px;
/* value = - border-top-width - border-bottom-width */
  left: 80px;
/* controls horizontal position */
  border-width: 15px 15px 0;
/* vary these values to change the angle of the vertex */
  border-style: solid;
/* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  border-color: #f3961c transparent;
}
.map_window_solid {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888;
  -moz-box-shadow: 3px 3px 5px #888;
  -webkit-box-shadow: 3px 3px 5px #888;
  background: #e2e2e2;
}
.map_window_solid:after {
  content: "";
  position: absolute;
  bottom: -15px;
/* value = - border-top-width - border-bottom-width */
  left: 80px;
/* controls horizontal position */
  border-width: 15px 15px 0;
/* vary these values to change the angle of the vertex */
  border-style: solid;
/* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  border-color: #e2e2e2 transparent;
}
#footer {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  height: 40px;
  background-color: #d7dada;
}
#credit {
  font-size: 0.9em;
  text-align: center;
  padding-top: 10px;
}
.modal-body {
  padding: 15px 15px 5px 15px;
  text-align: center;
}
.modal-body #isp-selector {
  margin: 10px auto;
  width: 100px;
}
.modal-body button {
  display: block;
  width: 100px;
  margin-bottom: 14px;
}
#modal-home h4 {
  margin-bottom: 6px;
}
#modal-info .modal-body {
  padding-bottom: 10px;
}
#modal-info .modal-body p {
  padding: 0 0 0 10px;
  text-align: left;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .modal {
    width: 300px;
  }
  #btn-info {
    right: 5px;
  }
  #btn-home {
    right: 45px;
  }
  #isp-dropdown {
    left: 5px;
  }
  #map_cnt {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  #footer {
    display: none;
  }
  #modal-info .modal-footer {
    display: none;
  }
}
